li{
    color: white;
    text-decoration: none;
    list-style: none;
  }
  
  .footer{
    background-color:black;
  }
  /* .arrows{
    display: none;
  } */
  .list{
   
    
    display: flex;
    justify-content: center;
    width: fit-content;
    
  } 
  @media screen and (min-width: 0px) and (max-width: 740px){
    .footer{
        margin-right: 200px;
        color: white;
      }
      .list{
        margin-right: 250px;
        
        display: flex;
        justify-content: start;
        width: fit-content;
        
      }  
      .arrows{
        display: none;
      }
}
